@import './src/styles/variables';

.button {
  height: 40px;
  width: 151px;
  font-size: $button-fz;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.button_primary {
  color: $button-primary-text;
  background: $button-primary-default;
  &:hover {
    background: $button-primary-hover;
  }
  &:focus {
    background: $button-primary-active;
  }
  &:active {
    background: $button-primary-pressed;
  }
  &:disabled {
    background: $button-primary-disabled !important;
    color: $button-primary-disabled !important;
  }
}
.button_secondary {
  color: $button-secondary-text;
  background: $button-secondary-default;
  &:hover {
    background: $button-secondary-hover;
  }
  &:focus {
    background: $button-secondary-active;
  }
  &:active {
    background: $button-secondary-pressed;
  }
  &:disabled {
    background: $button-secondary-disabled !important;
    color: $button-primary-text !important;
  }
}
.button_outline {
  color: $button-outline-text;
  border: 2px solid $button-outline-default;
  background: $button-outline-fill;
  &:hover {
    border-color: $button-outline-hover;
  }
  &:focus {
    border-color: $button-outline-active;
    color: $button-outline-active;
  }
  &:active {
    border-color: $button-outline-pressed;
    color: $button-outline-pressed;
  }
  &:disabled {
    border-color: $button-outline-disabled !important;
    color: $button-outline-disabled !important;
  }
}
