@import 'src/styles/variables';

.newCompany {
  &_wrapper {
    position: relative;
    padding: 24px 25px 40px 72px;
    .form_box {
      width: 918px;
    }
    .helper_box {
      display: grid;
      grid-template-columns: 355px 355px;
      justify-content: space-between;
    }

    .divider {
      width: 100%;
      height: 2px;
      background: #374957;
      margin: 70px 0 30px 0;
    }
  }
}
