@import 'src/styles/variables';

.newCompany {
  &_wrapper {
    position: relative;
    padding: 24px 25px 40px 72px;
    .header_box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button_box {
        position: absolute;
        right: 25px;
        display: flex;
        align-items: center;
        button:first-child {
          margin-right: 35px;
        }
      }
    }
    form {
      max-width: 918px;
      width: 100%;
      .input_groups {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 64px;
        &:last-child {
          margin-top: 0;
        }
        .input_box {
          .input_group {
            position: relative;

            div:not(:first-child) {
              margin-top: 30px;
            }
          }
          .input_group_title {
            color: $typography-primary-color;
            margin-bottom: 25px;
          }
        }
      }
      .divider {
        width: 100%;
        height: 2px;
        background: #374957;
        margin: 70px 0 30px 0;
      }
    }
  }
}
